<h1>Redes Sociales más Usadas</h1>
<hr>
<div *ngIf="doughnutChartData.datasets[0].data.length === 0; else divGrafica"
class="alert alert-info">
    Cargando data...
</div>
<div class="row">
    <div class="col">
        <ng-template #divGrafica>
        <div style="display: block; max-width:60%">
            <h5 class="text-center">Información en billones de usuarios</h5>
            <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType">
            </canvas>
            </div>
            
      
        </ng-template>
    </div>
</div>

